* {
    margin: 0;
    padding: 0;
}

.body {
    max-width: 100%;
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    height: 100vh;    
}

.head {
    max-width: 1300px;
    padding-left: calc(50% - 1268px / 2);
    padding-right: calc(50% - 1268px / 2);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background: #213B7E;
}

.menu {
    display: flex;
    list-style-type: none;
    margin-left: 55px;
}

.menu__link {
    padding: 28.5px 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    display: block;
}

.menu__link:hover {
    justify-items: center;
    display: flex;
    color: #213B7E;
    background-color: white;
    text-decoration: none;
    transition: all 1.0s ease;
}

.link__active {
    background-color: white;
    text-decoration: none;
    color: #213B7E;
}

.button {
    width: 153px;
    height: 50px;
    background-color: #EA5D21;
    border: none;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    transition: all 1.0s ease;
}

.button:hover {
    background-color: white;
    color: #213B7E;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.authorization__window {
    color: #213B7E;
    z-index: 999;
    border: 1px solid #213B7E;
    width: 500px;
    max-width: 98%;
    height: 418px;
    position: absolute;
    left: 450px;
    top: 200px;
    background-color: #FFFFFF;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
}

.visible {
     display: none;
}

.window__text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close__modal {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 24px;
	height: 24px;
	opacity: 0.2;
	cursor: pointer;
  transition: opacity ease 0.5s;
}

.close__modal:hover {
		opacity: 1;
	}

.close__modal::before,
.close__modal::after {
	content: '';
	position: absolute;
	top: 10px;
	display: block;
	width: 24px;
	height: 3px;
	background: #000;
}

.close__modal::before {
	transform: rotate(45deg);
}

.close__modal::after {
	transform: rotate(-45deg);
}

.bid {
    margin-top: 26px;
    margin-bottom: 36px;
    padding-left: calc(50% - 444px / 2);
    padding-right: calc(50% - 444px / 2);
    font-weight: 400;
    font-size: 24px;
}

.in_text_login {
    padding-left: 15px;
    margin-bottom: 56px;
    font-size: 24px;
    border: 1px solid #213B7E;
    color: 
    #213b7e96;
    height: 55px;
    width: 444px;
}

.in_text_password {
    padding-left: 15px;
    margin-bottom: 56px;
    font-size: 24px;
    border: 1px solid #213B7E;
    color: 
    #213b7e96;
    height: 55px;
    width: 444px;
}

.button_window_section {
    font-size: 18px;
    font-weight: 600;
}

.button__window {
    margin: auto;
    width: 180px;
    height: 50px;
    background-color: #EA5D21;
    border: none;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    transition: all 1.0s ease;
}

.button__window:hover {
    background-color: white;
    color: #213B7E;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.split {
    flex-grow: 1;
}