.title__list {
    padding-left: calc(50% - 1202px / 2);
    padding-right: calc(50% - 1202px / 2);
    display: flex;
    font-size: 31px;
    font-weight: 700;
    margin: 37px auto 24px;
}

.students__list {
    gap: 50px;
    padding-left: calc(50% - 1202px / 2);
    padding-right: calc(50% - 1202px / 2);
    flex-wrap: wrap;
    max-width: 1202px;
    font-size: 20px;
    display: flex;
    list-style-type: none;
}

.student__foto {
    width: 200px;
    height: 270px;
}
.relative {
    justify-content: flex-end;
    position: relative;
    align-items: center;
}

.new__student {
    left: 119px;
    top: -11px;
    width: 94px;
    font-size: 18px;
    color: white;
    text-align:center;
    position: absolute;
    border-radius: 20px;
    background-color: #3AA828;
}

.student__name {
    font-size: 20px;
    text-align: center;
    width: 200px;
}

